.div1{
    background-color:#80ed99 ;
    /* content: url("https://kuochenlee.github.io/background_4/"); */
    
}
.div12:hover{
    background-color: #573ad8;
    /* color:#000000; */
}
.text4{
    font-size: 200px;
    color:#ffffff;
}